CONFIG_EXTRA_FIRMWARE_DIR="/lib/firmware"
CONFIG_EXTRA_FIRMWARE="amd-ucode/microcode_amd_fam17h.bin amdgpu/bonaire_ce.bin amdgpu/bonaire_mec.bin amdgpu/bonaire_sdma.bin amdgpu/bonaire_k_smc.bin amdgpu/bonaire_pfp.bin amdgpu/bonaire_smc.bin amdgpu/bonaire_mc.bin amdgpu/bonaire_rlc.bin amdgpu/bonaire_uvd.bin amdgpu/bonaire_me.bin amdgpu/bonaire_sdma1.bin amdgpu/bonaire_vce.bin regulatory.db regulatory.db.p7s"
