CONFIG_EXTRA_FIRMWARE="amdgpu/hawaii_ce.bin amdgpu/hawaii_mc.bin amdgpu/hawaii_mec.bin amdgpu/hawaii_rlc.bin amdgpu/hawaii_sdma1.bin amdgpu/hawaii_uvd.bin amdgpu/hawaii_k_smc.bin amdgpu/hawaii_me.bin amdgpu/hawaii_pfp.bin amdgpu/hawaii_sdma.bin amdgpu/hawaii_smc.bin amdgpu/hawaii_vce.bin"
CONFIG_EXTRA_FIRMWARE_DIR="/lib/firmware"
