CONFIG_CPU_SUP_INTEL=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_AES_X86_64=y
CONFIG_CRYPTO_CRC32_PCLMUL=y
CONFIG_CRYPTO_CRC32C_INTEL=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_CTS=y
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=y
CONFIG_CRYPTO_GLUE_HELPER_X86=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_CRYPTO_SIMD=y
CONFIG_CRYPTO_USER=y
CONFIG_INTEL_IDLE=y
CONFIG_X86_INTEL_TSX_MODE_ON=y
CONFIG_X86_P6_NOP=y
