CONFIG_EXTRA_FIRMWARE="amdgpu/vega10_acg_smc.bin amdgpu/vega10_mec.bin amdgpu/vega10_sdma1.bin amdgpu/vega10_asd.bin amdgpu/vega10_mec2.bin amdgpu/vega10_smc.bin amdgpu/vega10_ce.bin amdgpu/vega10_pfp.bin amdgpu/vega10_sos.bin amdgpu/vega10_gpu_info.bin amdgpu/vega10_rlc.bin amdgpu/vega10_uvd.bin amdgpu/vega10_me.bin amdgpu/vega10_sdma.bin amdgpu/vega10_vce.bin intel/ibt-12-16.sfi iwlwifi-8265-36.ucode regulatory.db regulatory.db.p7s"
CONFIG_EXTRA_FIRMWARE_DIR="/lib/firmware"
