# CONFIG_X86_MCE_AMD is not set
# CONFIG_X86_ACPI_CPUFREQ_CPB is not set
# CONFIG_AMD_NB is not set
# CONFIG_AGP_AMD64 is not set
# CONFIG_EDAC_DECODE_MCE is not set
# CONFIG_MICROCODE_AMD is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_AMD is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
