CONFIG_DYNAMIC_PHYSICAL_MASK=y
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
# CONFIG_X86_MCE_INTEL is not set
# CONFIG_MICROCODE_INTEL is not set
CONFIG_AMD_MEM_ENCRYPT=y
# CONFIG_AMD_MEM_ENCRYPT_ACTIVE_BY_DEFAULT is not set
# CONFIG_X86_INTEL_PSTATE is not set
CONFIG_X86_AMD_FREQ_SENSITIVITY=m
CONFIG_ARCH_HAS_FORCE_DMA_UNENCRYPTED=y
# CONFIG_X86_X2APIC is not set
# CONFIG_SERIAL_8250_LPSS is not set
# CONFIG_SERIAL_8250_MID is not set
CONFIG_SENSORS_K8TEMP=m
CONFIG_SENSORS_K10TEMP=m
CONFIG_SENSORS_FAM15H_POWER=m
# CONFIG_DRM_I915 is not set
# CONFIG_FB_INTEL is not set
# CONFIG_USB_UHCI_HCD is not set
# CONFIG_EEEPC_LAPTOP is not set
CONFIG_AMD_IOMMU_V2=y
# CONFIG_INTEL_IOMMU is not set
CONFIG_IRQ_REMAP=y
CONFIG_SP5100_TCO=m
# CONFIG_AGP_INTEL is not set
