# CONFIG_X86_EXTENDED_PLATFORM is not set
# CONFIG_CALGARY_IOMMU is not set
# CONFIG_ATA_SFF is not set
# CONFIG_MACINTOSH_DRIVERS is not set
# CONFIG_NETCONSOLE is not set
# CONFIG_FDDI is not set
# CONFIG_MOUSE_PS2_BYD is not set
# CONFIG_MOUSE_PS2_CYPRESS is not set
# CONFIG_MOUSE_PS2_LIFEBOOK is not set
# CONFIG_MOUSE_PS2_TRACKPOINT is not set
# CONFIG_MOUSE_PS2_FOCALTECH is not set
# CONFIG_HW_RANDOM_VIA is not set
# CONFIG_SND_X86 is not set

